# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# database (SQLite dev)
/prisma/dev.db
/prisma/dev.db-journal
*.db
*.db-journal

# typescript
*.tsbuildinfo

# testing
/coverage

# editor
.vscode/
.idea/
